#quote {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#quote_chapter {
  font-weight: bold;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 30px;
}

#quote_source {
  color: #555555;
  height: 30px;
}
